<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><Textarea>Todo List</Textarea></title>
</head>
<body>

<h1><%= kindofDay %></h1>

<ul>
    <li>buy food</li>
    <li>Cook food</li>
    <li>eat food</li>
    <li><%= newListItem %></li>

    <form action="/" method="POST">
        <input name="newItem" type="text">
        <button name="button" type="submit">Add</button>
    </form>
</ul>
</body>
</html>